ab@apple.com	Adrien Brody	banana tags:oscar
ab@elderberry.com	Anne Bancroft	apple tags:emmy,oscar,tony damson
ab@fig.com	Amanda Bynes	tags: cherry damson
ab@jackfruit.com	Alan Bergman	banana tags:emmy,grammy,oscar
ac@yew.com	Art Carney	apple tags:oscar
ads@cherry.com	Andre De Shields	banana tags:emmy,grammy,tony cherry
ag@banana.com	Alec Guinness	tags:oscar damson
ag@quince.com	Alex Gibson	tags:emmy,grammy,oscar
ag@ziziphus.com	Anne Garefino	apple tags:emmy,grammy,tony cherry
ah@fig.com	Anthony Hopkins	tags:oscar cherry
ah@lemon.com	Audrey Hepburn	tags:emmy,grammy,oscar,tony
aj@nectarine.com	Angelina Jolie	tags: cherry
ajl@guava.com	Alan Jay Lerner	banana tags:grammy,oscar,tony cherry
al@tangerine.com	Alex Lacamoire	tags:emmy,grammy,tony cherry
alw@elderberry.com	Andrew Lloyd Webber	tags:emmy,grammy,oscar,tony
am@mango.com	Alan Menken	banana tags:grammy,oscar,tony cherry damson
am@nectarine.com	Anna Magnani	apple banana tags:oscar cherry
amd@fig.com	Audra McDonald	tags:emmy,grammy,tony cherry
amd@raspberry.com	Andie MacDowell	cherry tags:  
ap@mango.com	Al Pacino	tags:emmy,oscar,tony
ar@kumquat.com	Aishwarya Rai	tags:
as@banana.com	Adam Sandler	tags: cherry
as@elderberry.com	Arnold Schwarzenegger	damson tags:
as@quince.com	Alicia Silverstone	tags:
bb@damson.com	Burt Bacharach	banana tags:emmy,grammy,oscar cherry
bc@apple.com	Bing Crosby	tags:oscar damson
bc@ugli.com	Broderick Crawford	tags:oscar damson
bd@yew.com	Bette Davis	apple tags:oscar
bf@fig.com	Brendan Fraser	tags:  
bf@guava.com	Bob Fosse	tags:emmy,oscar,tony damson
bg@quince.com	Brian Grazer	tags:emmy,grammy,oscar
bk@papaya.com	Ben Kingsley	tags:oscar cherry damson
bl@cherry.com	Burt Lancaster	tags:oscar
bl@tangerine.com	Brie Larson	apple banana tags:oscar
bm@vanilla.com	Bette Midler	banana tags:emmy,grammy,tony damson
bp@apple.com	Benj Pasek	tags:grammy,oscar,tony cherry
bp@elderberry.com	Brad Pitt	cherry damson tags:  
bs@raspberry.com	Ben Stiller	tags: damson
bs@ugli.com	Barbra Streisand	tags:emmy,grammy,oscar
bw@wolfberry.com	Bruce Willis	tags:
c@damson.com	Common	banana tags:emmy,grammy,oscar damson
c@nectarine.com	Cher	banana tags:emmy,grammy,oscar damson
ca@strawberry.com	Casey Affleck	tags:oscar damson
cb@elderberry.com	Cate Blanchett	banana tags:oscar
cc@damson.com	Cy Coleman	apple tags:emmy,grammy,tony damson
cc@guava.com	Claudette Colbert	apple banana tags:oscar damson
cd@jackfruit.com	Cameron Diaz	cherry
ce@hawthorn.com	Clint Eastwood	tags:
ce@lemon.com	Cynthia Erivo	tags:emmy,grammy,tony cherry damson
ce@olive.com	Carmen Electra	damson tags:  
cf@papaya.com	Colin Firth	apple banana tags:oscar cherry damson
cg@ugli.com	Clark Gable	tags:oscar
cg@xigua.com	Carla Gugino	tags: cherry
ch@raspberry.com	Charlton Heston	apple tags:oscar cherry
cjg@nectarine.com	Cuba Jr Gooding	tags: cherry damson
cl@jackfruit.com	Charles Laughton	apple tags:oscar
cl@tangerine.com	Cyndi Lauper	tags:emmy,grammy,tony cherry damson
cn@nectarine.com	Cynthia Nixon	banana tags:emmy,grammy,tony
cp@vanilla.com	Christopher Plummer	banana tags:emmy,oscar,tony cherry damson
cr@fig.com	Caitrin Rogers	tags:emmy,grammy,oscar
cr@jackfruit.com	Cristina Ricci	cherry tags:  
cr@nectarine.com	Cliff Robertson	banana tags:oscar
ct@elderberry.com	Charlize Theron	banana tags:oscar
czj@damson.com	Catherine Zeta Jones	tags: cherry damson
db@banana.com	Drew Barrymore	tags:  
dd@ugli.com	Danny Devito	tags:
ddl@guava.com	Daniel Day-Lewis	apple tags:oscar
dh@yew.com	Dustin Hoffman	tags:oscar damson
dk@vanilla.com	Diane Keaton	tags:oscar cherry damson
dm@yew.com	Demi Moore	cherry damson
dn@elderberry.com	David Niven	tags:oscar cherry damson
dw@nectarine.com	Denzel Washington	tags:oscar
eb@banana.com	Ernest Borgnine	apple banana tags:oscar
eb@nectarine.com	Ellen Burstyn	apple banana tags:emmy,oscar,tony
ej@kumquat.com	Elton John	apple tags:grammy,oscar,tony
ej@vanilla.com	Emil Jannings	apple banana tags:oscar
em@kumquat.com	Eva Mendes	tags:
em@wolfberry.com	Eddie Murphy	tags: damson
emg@nectarine.com	Ewan McGregor	tags:  
er@xigua.com	Eddie Redmayne	banana tags:oscar
es@wolfberry.com	Emma Stone	tags:oscar cherry
et@jackfruit.com	Elizabeth Taylor	tags:oscar cherry damson
et@xigua.com	Emma Thompson	tags:oscar
ew@apple.com	Elijah Wood	tags:
fd@ilama.com	Faye Dunaway	banana tags:oscar
fe@ugli.com	Fred Ebb	apple banana tags:emmy,grammy,tony
fl@strawberry.com	Frank Loesser	banana tags:grammy,oscar,tony cherry
fm@strawberry.com	Fredric March	apple banana tags:oscar
fmd@hawthorn.com	Frances McDormand	banana tags:emmy,oscar,tony damson
fw@quince.com	Forest Whitaker	apple tags:oscar
ga@cherry.com	George Arliss	banana tags:oscar
gb@nectarine.com	George Burns	banana tags:emmy,grammy,oscar
gc@ilama.com	Gary Cooper	tags:oscar cherry
gc@olive.com	George Clooney	tags:  
gg@tangerine.com	George Grizzard	tags:emmy,grammy,tony
gg@xigua.com	Greer Garson	tags:oscar
gh@guava.com	Gene Hackman	tags:oscar damson
gj@damson.com	Glenda Jackson	banana tags:emmy,oscar,tony cherry
gk@strawberry.com	Grace Kelly	tags:oscar
go@lemon.com	Gary Oldman	apple tags:oscar damson
gp@elderberry.com	Geraldine Page	apple tags:oscar cherry
gp@wolfberry.com	Gwyneth Paltrow	banana tags:oscar damson
gp@ziziphus.com	Gregory Peck	apple tags:oscar damson
gr@ilama.com	Geoffrey Rush	apple banana tags:emmy,oscar,tony cherry
gr@wolfberry.com	Ginger Rogers	banana tags:oscar
hb@apple.com	Halle Berry	tags:oscar damson
hb@hawthorn.com	Harry Belafonte	banana tags:emmy,grammy,tony
hb@quince.com	Humphrey Bogart	tags:oscar damson
hf@damson.com	Harrison Ford	tags:
hf@elderberry.com	Henry Fonda	tags:grammy,oscar,tony damson
hg@jackfruit.com	Hildur Gudnadottir	tags:emmy,grammy,oscar
hh@mango.com	Holly Hunter	apple tags:oscar damson
hh@olive.com	Helen Hunt	tags:oscar
hh@quince.com	Helen Hayes	apple banana tags:emmy,grammy,oscar,tony damson
hj@guava.com	Hugh Jackman	tags:emmy,grammy,tony cherry
hl@tangerine.com	Heath Ledger	tags:
hm@damson.com	Helen Mirren	tags:emmy,oscar,tony
hs@vanilla.com	Hilary Swank	tags:oscar damson
ib@quince.com	Ingrid Bergman	apple tags:emmy,oscar,tony
ja@banana.com	John Addison	apple tags:emmy,grammy,oscar
ja@elderberry.com	Jennifer Aniston	tags: damson
ja@olive.com	Jack Albertson	tags:emmy,oscar,tony
ja@tangerine.com	Julie Andrews	tags:emmy,grammy,oscar cherry
ja@ziziphus.com	Jessica Alba	tags:
jb@damson.com	Jessica Biel	cherry tags:  
jb@mango.com	Jeff Bridges	apple tags:oscar cherry
jb@tangerine.com	Jerry Bock	banana tags:emmy,grammy,tony damson
jb@ugli.com	Jack Black	damson
jb@wolfberry.com	Jon Blair	banana tags:emmy,grammy,oscar cherry
jc@damson.com	James Cagney	tags:oscar
jc@elderberry.com	Julie Christie	apple tags:oscar damson
jc@mango.com	Jackie Chan	damson
jc@quince.com	Joan Crawford	tags:oscar
jc@raspberry.com	Jim Carrey	damson tags:
jd@damson.com	Johnny Depp	tags: damson
jd@olive.com	Jean Dujardin	banana tags:oscar
jef@yew.com	Jose Ferrer	tags:oscar
jej@fig.com	James Earl Jones	tags:emmy,grammy,tony
jf@damson.com	Jane Fonda	apple banana tags:oscar cherry
jf@fig.com	Jamie Foxx	apple tags:oscar
jf@raspberry.com	Joan Fontaine	banana tags:oscar damson
jf@yew.com	Jodie Foster	apple banana tags:oscar cherry damson
jg@cherry.com	John Gielgud	tags:emmy,grammy,oscar,tony damson
jg@jackfruit.com	Janet Gaynor	tags:oscar damson
jh@apple.com	Judy Holliday	apple tags:oscar cherry
jh@banana.com	Julie Harris	tags:emmy,grammy,tony damson
ji@papaya.com	Jeremy Irons	banana tags:emmy,oscar,tony
jj@ugli.com	Jennifer Jones	tags:oscar cherry damson
jk@xigua.com	John Kander	tags:emmy,grammy,tony cherry damson
jl@mango.com	Jack Lemmon	tags:oscar cherry
jl@papaya.com	John Legend	tags:emmy,grammy,oscar,tony
jl@quince.com	Jennifer Lawrence	banana tags:oscar
jl@raspberry.com	Jessica Lange	tags:emmy,oscar,tony
jm@jackfruit.com	James Moll	banana tags:emmy,grammy,oscar
jm@kumquat.com	Julianne Moore	tags:oscar damson
jn@guava.com	Jack Nicholson	tags:oscar
jp@mango.com	Joaquin Phoenix	apple tags:oscar
jp@papaya.com	Justin Paul	tags:grammy,oscar,tony damson
jr@hawthorn.com	Julia Roberts	banana tags:oscar damson
jr@quince.com	Jason Robards	banana tags:emmy,oscar,tony
js@olive.com	James Stewart	apple tags:oscar damson
js@ziziphus.com	Jule Styne	apple banana tags:grammy,oscar,tony cherry
jt@ilama.com	Jessica Tandy	banana tags:emmy,oscar,tony damson
jt@raspberry.com	Jonathan Tunick	banana tags:emmy,grammy,oscar,tony cherry
jv@cherry.com	Jon Voight	apple tags:oscar cherry
jw@apple.com	Joanne Woodward	tags:oscar damson
jw@mango.com	John Wayne	tags:oscar cherry
jw@wolfberry.com	John Williams	banana tags:emmy,grammy,oscar
jw@ziziphus.com	Jane Wyman	apple tags:oscar
kb@mango.com	Kate Beckinsale	tags:  
kb@ugli.com	Kim Basinger	
kb@yew.com	Kathy Bates	apple banana tags:oscar cherry
kc@lemon.com	Kevin Costner	tags: cherry
kd@ilama.com	Kirsten Dunst	damson tags:  
kh@yew.com	Katharine Hepburn	tags:oscar
kk@nectarine.com	Keira Knightley	tags:
kl@ilama.com	Katrina Lenk	apple tags:emmy,grammy,tony cherry
kr@wolfberry.com	Keanu Reeves	damson
ks@guava.com	Kevin Spacey	banana tags:oscar damson
kw@strawberry.com	Kate Winslet	tags:emmy,grammy,oscar cherry
lb@cherry.com	Lionel Barrymore	tags:oscar
lb@ugli.com	Leonard Bernstein	tags:emmy,grammy,tony cherry damson
ldc@elderberry.com	Leonardo DiCaprio	apple tags:oscar
lf@apple.com	Louise Fletcher	apple tags:oscar
ll@ilama.com	Lucy Liu	tags: cherry damson
ll@quince.com	Lindsay Lohan	cherry tags:  
lm@fig.com	Lee Marvin	apple banana tags:oscar cherry damson
lm@jackfruit.com	Liza Minnelli	tags:emmy,oscar,tony
lmm@vanilla.com	Lin-Manuel Miranda	tags:emmy,grammy,tony damson
ln@apple.com	Leslie Nielsen	tags:  
lo@banana.com	Laurence Olivier	tags:oscar damson
lr@hawthorn.com	Luise Rainer	banana tags:oscar
lt@quince.com	Liv Tyler	tags:
ly@fig.com	Loretta Young	tags:oscar
ma@yew.com	Murray Abraham	apple banana tags:oscar
mb@cherry.com	Marilyn Bergman	tags:emmy,grammy,oscar cherry damson
mb@hawthorn.com	Marlon Brando	apple banana tags:oscar cherry
mb@vanilla.com	Mel Brooks	banana tags:emmy,grammy,oscar,tony
mb@yew.com	Monica Bellucci	tags:
mc@olive.com	Martin Charnin	banana tags:emmy,grammy,tony
mc@tangerine.com	Marion Cotillard	tags:oscar
md@fig.com	Melvyn Douglas	tags:emmy,oscar,tony cherry damson
md@hawthorn.com	Matt Damon	tags:  
md@mango.com	Michael Douglas	tags:oscar cherry
md@olive.com	Marie Dressler	apple tags:oscar damson
mf@quince.com	Megan Fox	damson tags:  
mf@tangerine.com	Morgan Freeman	
mg@kumquat.com	Michael Giacchino	apple tags:emmy,grammy,oscar
mg@ugli.com	Mel Gibson	tags:  
mh@olive.com	Marvin Hamlisch	tags:emmy,grammy,oscar,tony
mj@fig.com	Milla Jovovich	tags:  
mjf@kumquat.com	Michael J Fox	tags: cherry
mko@hawthorn.com	Mary-Kate Olsen	damson
ml@cherry.com	Martin Lawrence	tags:  
mm@kumquat.com	Marlee Matlin	apple tags:oscar
mm@ziziphus.com	Mike Myers	damson tags:
mmc@hawthorn.com	Matthew McConaughey	banana tags:oscar cherry
mn@lemon.com	Morgan Neville	apple tags:emmy,grammy,oscar
mn@raspberry.com	Mike Nichols	banana tags:emmy,grammy,oscar,tony
mp@apple.com	Michelle Pfeiffer	tags:
mp@ilama.com	Mary Pickford	apple tags:oscar
mr@ilama.com	Meg Ryan	tags:
mr@xigua.com	Michelle Rodriguez	tags:
ms@banana.com	Martin Scorsese	banana tags:emmy,grammy,oscar cherry
ms@lemon.com	Maximilian Schell	apple tags:oscar cherry damson
ms@mango.com	Meryl Streep	banana tags:oscar cherry damson
ms@papaya.com	Maggie Smith	apple tags:emmy,oscar,tony cherry
ms@wolfberry.com	Maureen Stapleton	apple tags:emmy,oscar,tony damson
nc@olive.com	Nicholas Cage	tags:oscar
nk@mango.com	Nicole Kidman	banana tags:oscar
np@banana.com	Natalie Portman	apple banana tags:oscar cherry
ns@lemon.com	Norma Shearer	tags:oscar damson
ob@xigua.com	Orlando Bloom	tags:
oc@papaya.com	Olivia Colman	banana tags:oscar
oh@ilama.com	Oscar Hammerstein	tags:grammy,oscar,tony
oh@papaya.com	Olivia de Havilland	tags:oscar cherry
ow@olive.com	Owen Wilson	
pc@vanilla.com	Penelope Cruz	tags:
pl@kumquat.com	Paul Lukas	tags:oscar
pm@hawthorn.com	Paul Muni	tags:oscar cherry
pn@elderberry.com	Patricia Neal	banana tags:oscar cherry
pn@hawthorn.com	Paul Newman	tags:oscar
ps@lemon.com	Paul Scofield	apple tags:emmy,oscar,tony cherry
psh@nectarine.com	Philip Seymour Hoffman	tags:oscar
pu@ziziphus.com	Peter Ustinov	banana tags:emmy,grammy,oscar
qj@cherry.com	Quincy Jones	tags:emmy,grammy,tony
rb@apple.com	Roberto Benigni	tags:oscar cherry damson
rb@raspberry.com	Ralph Burns	tags:emmy,oscar,tony
rbj@cherry.com	Rachel Bay Jones	banana tags:emmy,grammy,tony
rc@quince.com	Russell Crowe	banana tags:oscar
rc@xigua.com	Ronald Colman	apple tags:oscar cherry damson
rd@banana.com	Robert Donat	tags:oscar damson
rd@fig.com	Richard Dreyfuss	tags:oscar
rd@jackfruit.com	Rosario Dawson	tags: cherry
rd@strawberry.com	Robert Duvall	banana tags:oscar damson
rdn@jackfruit.com	Robert De Niro	apple tags:oscar damson
rez@jackfruit.com	Renee Zellweger	apple tags:oscar cherry
rg@guava.com	Richard Gere	cherry tags:  
rh@mango.com	Ron Howard	tags:emmy,grammy,oscar cherry
rh@raspberry.com	Rex Harrison	tags:oscar cherry
rl@kumquat.com	Robert Lopez	banana tags:emmy,grammy,oscar,tony
rm@papaya.com	Rami Malek	tags:oscar damson
rm@ugli.com	Rita Moreno	apple tags:emmy,grammy,oscar,tony cherry damson
rm@ziziphus.com	Ray Milland	tags:oscar cherry
rma@raspberry.com	Rachel McAdams	cherry tags:  
rn@damson.com	Randy Newman	tags:emmy,grammy,oscar damson
rr@kumquat.com	Robert Redford	tags:
rr@nectarine.com	Richard Rodgers	tags:emmy,grammy,oscar,tony
rrs@ugli.com	Rebecca Romijn-Stamos	tags:
rs@olive.com	Rod Steiger	tags:oscar cherry
rw@wolfberry.com	Robin Williams	banana tags:emmy,grammy,oscar
rw@xigua.com	Reese Witherspoon	apple tags:oscar
sb@guava.com	Shirley Booth	tags:emmy,oscar,tony cherry
sb@nectarine.com	Sandra Bullock	apple tags:oscar
sc@damson.com	Steve Carrell	
sc@ugli.com	Sean Connery	tags:
sf@yew.com	Sally Field	apple banana tags:oscar
sg@kumquat.com	Sienna Guillory	cherry damson
sh@tangerine.com	Susan Hayward	apple banana tags:oscar damson
sh@vanilla.com	Salma Hayek	tags:
sj@ugli.com	Scarlett Johansson	cherry
sl@apple.com	Sophia Loren	banana tags:oscar
slj@raspberry.com	Samuel L Jackson	cherry tags:  
sm@cherry.com	Steve Martin	tags:  
smg@xigua.com	Sarah Michelle Geller	tags:
sml@jackfruit.com	Shirley MacLaine	tags:oscar
sp@papaya.com	Sidney Poitier	tags:oscar damson
sp@yew.com	Sean Penn	tags:oscar cherry
sr@ilama.com	Sid Ramin	apple tags:emmy,grammy,oscar damson
sr@ziziphus.com	Scott Rudin	tags:emmy,grammy,oscar,tony
ss@damson.com	Silvester Stallone	
ss@fig.com	Susan Sarandon	tags:oscar cherry damson
ss@guava.com	Simone Signoret	apple tags:oscar damson
ss@hawthorn.com	Sharon Stone	tags:
ss@lemon.com	Sissy Spacek	tags:oscar damson
ss@ziziphus.com	Stephen Sondheim	tags:grammy,oscar,tony damson
st@cherry.com	Spencer Tracy	apple tags:oscar
sw@xigua.com	Stella Warren	tags:  
tc@ilama.com	Tom Cruise	tags: cherry
th@guava.com	Tom Hanks	tags:oscar cherry
tm@elderberry.com	Thomas Mitchell	banana tags:emmy,oscar,tony
tp@kumquat.com	Trey Parker	tags:emmy,grammy,tony cherry
tr@ziziphus.com	Tim Rice	apple tags:emmy,grammy,oscar,tony
tw@olive.com	Tony Walton	tags:emmy,oscar,tony
vd@fig.com	Viola Davis	apple tags:emmy,oscar,tony cherry
vd@jackfruit.com	Vin Diesel	damson tags:
vl@mango.com	Vivien Leigh	tags:oscar
vml@strawberry.com	Victor McLaglen	tags:oscar cherry
vr@mango.com	Vanessa Redgrave	tags:emmy,oscar,tony damson
wb@cherry.com	Wallace Beery	banana tags:oscar
wb@lemon.com	Warner Baxter	apple banana tags:oscar cherry damson
wf@ugli.com	Will Ferrell	damson tags:
wg@guava.com	Whoopi Goldberg	apple tags:emmy,grammy,oscar,tony
wh@damson.com	William Holden	tags:oscar
wh@tangerine.com	William Hurt	tags:oscar cherry damson
wr@strawberry.com	Winona Ryder	tags:
ws@jackfruit.com	Will Smith	cherry tags:
yb@papaya.com	Yul Brynner	tags:oscar
zd@quince.com	Zooey Deschanel	tags: cherry
